<div>
  <button (click)="modal.open()" class="button button__default open-modal">Open modal</button>
  <app-modal #modal>
    <div modal-header class="title">
      Title
    </div>
    <div modal-body class="text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a type specimen book.
    </div>
    <div modal-footer>
      <div class="text-right">
        <button type="button" class="button button__default" (click)="modal.close()">Cancel</button>
        <button type="button" class="button button__success" (click)="nestedDialog.open()">Open nested dialog</button>
      </div>
    </div>
  </app-modal>

  <app-modal
    (onCancel)="modalCanceled()"
    (onSubmit)="modalSubmitted()"
    #nestedDialog>
    <div modal-header class="title">
      Enter some text and submit
    </div>
    <div modal-body class="text text-center">
      <input type="text" [(ngModel)]="text" class="input">
    </div>
  </app-modal>
</div>
